
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20pt;
    font-weight: 700;
    color: white;
    display: inline-block;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14pt;
    display: block;
    color: rgba(236, 236, 62, 0.788);
    text-align: left;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;    
}

main {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5e/Ernani_Costantini_1956_jazz.jpg);
    opacity: 75%;
    position: relative;
    top: 155px;
}

header {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5e/Ernani_Costantini_1956_jazz.jpg);
    postiion: fixed;
    height: 150px;
}

header img {
    display: inline-block;
    opacity: 75%;
}

section {
    display: block;
    background-color: lightcoral;
    border: 1px dotted black;
    margin: 1ch auto;
}

