
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    background-color: lightcoral;
}

.header {
    position: fixed;
    align-items: center;
    width: 100%; 
    z-index: 1;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5e/Ernani_Costantini_1956_jazz.jpg);
}

.header img {
    opacity: 75%;
    height: 125px;  
    float: left;
    padding: 3ch;
}

main {
    position: relative;
    top: 156px; 
    padding: 2ch; 
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5e/Ernani_Costantini_1956_jazz.jpg);
    opacity: 85%;
}


section {
    display: block;
    background-color: lightcoral;
    border: 1px dotted black;
    margin: 20px 50px;
    opacity: 90%;
    padding: 2ch;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40pt;
    font-weight: 700;
    color: white;
    display: inline-block;
}



h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14pt;
    font-weight: bold;
    display: block;
    color: yellow;
    text-align: left;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;    
}


